<h2>New Task</h2>

<%= form_for(@task) do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>

  <%= t.label :content %>
  <%= t.text_field :content %>

  <%= t.label :completed %>
  <%= t.check_box :completed %>

  <%= t.submit %>
<% end %>
